/*

* {
  outline: 1px solid black;
}

/**/

/* #region General */

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**/

:root {
  --root-bg: #fff;
  background-color: var(--root-bg);
  transition: background-color .5s;
}

.lightMode {
  --main-text: #090909;
  --text-inverse: #fafafa;

  --dark-section: #d9e4ed;
  --light-section: #e8f0f7;
  --cedric: #D28868;
  
  --sidebar-blue: #a1b6c7;
  --active-selection: #fafafa;
  --lang-button-hover: #6D8AA2;
  --lang-button-active: #486B88;
  --lang-border: #486B88;

  --adv-orange: #D28868;
  --int-orange: #FDC1A7;
  --bsc-orange: #FFEDE6;
  --timeline-item: #FDC1A7;
  --achromatic-grey: #777;

  --pi-tag: rgba(200, 220, 240, .3);
  --pi-tag-em: #D28868;
  --project-shadow: #aaa;

  --submit-orange: #FFEDE6;
  --submit-orange-hover: #FDC1A7;
  --info-links-hover: #eee;

  --ext-icon: #444;
}

.darkMode {
  --main-text: #fafafa;
  --text-inverse: #202020;

  --dark-section: #222427;
  --light-section: #25282c;
  --cedric: #FDC1A7;

  --sidebar-blue: #283a49;
  --active-selection: #999;
  --lang-button-hover: #294E6D;
  --lang-button-active: #fafafa;
  --lang-border: #fafafa;

  --adv-orange: #D28868;
  --int-orange: #FDC1A7;
  --bsc-orange: #FFEDE6;
  --timeline-item: #D28868;
  --achromatic-grey: #aaa;

  --pi-tag: #555;
  --pi-tag-em: #7B3213;
  --project-shadow: rgba(0,0,0,0);

  --submit-orange: #D28868;
  --submit-orange-hover: #7B3213;
  --info-links-hover: #ddd;

  --ext-icon: #fafafa;
}

* {
  color: var(--main-text);
  transition: color .5s;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.lg-hidden {
  display: none;
}

.lg-shown {
  display: block;
}

.App {
  width: 75%;
  margin: auto;
}

.Main {
  position: absolute;
  width: 56.25%;
  margin-left: 18.75%;
  transition: background-color .5s;
}

.main-section {
  transition: background-color .5s;
}

.chivo {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.round {
  border-radius: 50%
}

.no-select {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.divider-one {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right bottom, var(--light-section) 49%, var(--dark-section) 50%), linear-gradient(-50deg, var(--dark-section) 16px, var(--light-section) 0);
  transition: all .5s
}

.divider-two {
  height: 50px;
  width: 100%;
  background: linear-gradient(to left bottom, var(--dark-section) 49%, var(--light-section) 50%), linear-gradient(-50deg, var(--light-section) 16px, var(--dark-section) 0);
  transition: all .5s
}

.subheading {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 25% 15% 0;
  margin: 0;
}

/*#endregion*/

/* #region Sidebar */

.Sidebar {
  background-color: var(--sidebar-blue);
  position: fixed;
  width: 18.75%;
  min-height: 100vh;
  text-align: center;
  transition: background-color .5s
}

/* Sidebar Main */

.sidebarMain {
  margin-top: 6rem;
  margin-bottom: -17rem;
  transition: margin-top .5s, margin-bottom 5s;
}

#sidebarPic {
  width:9rem;
}

#sidebarName {
  font-size: 2.5rem;
  margin: 0 auto;
}

.sidebarSubtitle {
  font-size: 1rem;
  margin: 0 auto;
}

.shownMain {
  margin-top: 6rem;
  margin-bottom: -17rem;
  opacity: 1;
  transition: opacity .5s, margin-top .8s;
}

.hiddenMain {
  margin-top: 1rem;
  opacity: 0;
  transition: opacity .5s, margin-top .8s;
}

/* Sidebar Navigation */

.sidebarList {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin-top: 24rem;
  transition: margin-top .5s;
}

.sidebarItem {
  position: relative;
  margin: .8rem;
}

.sidebarItem a {
  color: var(--main-text);
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s;
}

.sidebarItem a:hover, .sidebarItem a:hover * {
  color: #fafafa;
  transition: color .3s;
}

.sidebarItem a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fafafa;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.sidebarItem a:hover::after {
  width: 10%; 
  left: 45%;
}

.activeSection {
  color: var(--active-selection) !important;
}

.extIcon {
  font-size: .7rem;
  margin-bottom: .1rem;
  margin-left: .1rem;
}

.extIcon * {
  color: var(--ext-icon);
}

/* Language Toggle */

.langToggle {
  display: inline-block;
  margin-top: 5rem;
}

.langToggle span {
  font-size: .9rem;
  padding: .4rem .5rem;
  border: 1px solid var(--lang-border);
  user-select: none;
  transition: background-color .3s, border .3s, color .3s;
}

.langToggle span:first-of-type {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border-right: none;
}

.langToggle span:last-of-type {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.activeLang {
  color: var(--text-inverse);
  background-color: var(--lang-button-active);
  cursor: unset;
}

.inactiveLang:hover {
  background-color: var(--lang-button-hover);
  cursor: pointer;
}

.langChangeName {
  user-select: none;
}

/* #endregion */

/* #region About */

.About {
  text-align: center;
  background-color: var(--light-section);
  min-height: 100vh;
  scroll-snap-align: start;
  padding-bottom: 1rem;
}

.toggleDarkButton {
  display: block;
  margin: auto;
  padding-top: 1.2rem;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.toggleDarkButton:focus {
  border: none;
  outline: none;
}

#aboutPic {
  width: 12.5rem;
  margin-top: 8rem;
}

#mainTitle {
  font-size: 5rem;
  margin: 1rem auto .3rem;
}

.cedric {
  color: var(--cedric)
}

#mainSubtitle {
  font-size: 1.5rem;
  margin: 0 auto 3rem;
}

.aboutParagraph {
  width: 65%;
  margin: 2% auto;
}

/* #endregion */

/* #region Timelines */

.TimelineItem {
  width: 76%;
  margin: auto;
  position: relative;
  list-style-type: none;
}

.timelineItemMain {
  font-size: 1.375rem;
  margin-bottom: 0.4rem;
}

.timelineItemDates {
  margin: 0;
}

.timelineItemTitle {
  font-weight: 400;
}

.TimelineItem::before {
  background: white;
  width: 3px;
  content: '';
  position: absolute;
  left: -22px;
  top: 0px;
  bottom: -25px;
}

.TimelineItem::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: var(--timeline-item);
  border: 3px solid white;
  border-radius: 50%;
  left: -35px;
  top: 0;
  width: 22px;
  height: 22px;
}

.TimelineItem:last-child::before {
  bottom: 0;
}

.timelineItemSubtitle {
  font-style: italic;
}

.timelineItemDates {
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
  color: var(--achromatic-grey);
}

/* #endregion Timelines */

/* #region Experience */

.Experience {
  background: var(--dark-section);
  min-height: 100vh;
  padding-bottom: 1rem;
  scroll-snap-align: start;
}

/* #endregion */

/* #region Education */

.Education {
  background-color: var(--light-section);
  min-height: 100vh;
  padding-bottom: 1rem;
}

.ed-sub {
  padding: 9% 15% 0;
}

#igcse {
  margin-bottom: 5rem;
}

/* #endregion */

/* #region Skills */

.Skills {
  background-color: var(--dark-section);
  min-height: 100vh;
  text-align: center;
}

.Skills > * {
  width: 80%;
  margin: auto;
  text-align: left;
}

#skill-sub {
  padding: 9rem 0 0 3rem
}

.skill-div {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin: 1rem 0;
}

.skills-description {
  font-weight: 700;
  font-style: italic;
}

#langList, #skillList {
  padding-left: 0;
}

.LangItem, .SkillItem {
  padding-left: .6rem;
  list-style-type: none;
}

.langHead {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.langName {
  font-weight: 400;
}

.langFluency {
  font-style: italic;
}

.langDesc {
  margin-top: .4rem;
}

.highFluency {
  border-left: var(--adv-orange) 2px solid;
}

.midFluency {
  border-left: var(--int-orange) 2px solid;
}

.lowFluency {
  border-left: var(--bsc-orange) 2px solid;
}

/* #endregion */

/* #region Projects */

.Projects {
  background-color: var(--light-section);
  min-height: 100vh;
}

#projects-sub {
  padding: 4rem 2rem 0.5rem 11.5rem;
}

#projectsWrapper {
  display: block;
  margin: auto;
  width: 72%;
  margin-top: 2.5rem;
  padding-bottom: 4rem;
}

.ProjectItem {
  display: inline-block;
  width: 14rem;
  min-height: 15rem;
  vertical-align: top;
  margin: 1rem 0 1rem 2rem;
  background-color: var(--text-inverse);
  box-shadow: 0 0 .1rem var(--project-shadow);
}

.piTitleWrap {
  background-color: var(--sidebar-blue);
  padding: 1rem;
  min-height: 4.9rem;
  display: table;
  width: 100%;
}

.piTitle {
  font-size: 1.2rem;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.piTitle a {
  color: white;
  transition: text-decoration 1s;
}

.piTitle a:hover {
  text-decoration: underline;
}

.piTagsWrap {
  display: grid;
  padding: 0.5rem;
}

.piTags {
  margin: auto;
}

.piTag {
  font-size: .9rem;
  display: inline-block;
  margin-right: .5rem;
  margin-top: .5rem;
  border: none;
  border-radius: 50rem;
  padding: .25rem .5rem;
  background-color: var(--pi-tag);
}

.front-end, .back-end {
  background-color: var(--pi-tag-em);
}

.front-end, .front-end *, .back-end, .back-end * {
  color: white;
}

.piTagText {
  color: inherit;
}

.piTagTextIcon {
  font-size: .7rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, margin-left .2s, margin-right .2s;
  margin-left: -.85rem;
}

.piTag:hover > .piTagTextIcon {
  visibility: visible;
  opacity: 1;
  margin-left: 0;
}

.piTag:active, .piTag:focus {
  outline: none;
}

.x-icon {
  margin-left: .5rem;
}

#appliedFilters {
  margin-left: 11.5rem;
  margin-bottom: -2.6rem;
}

.resetFilterButton {
  transition: font-size .1s, margin-left .1s
}

.piTag:hover, .x-icon:hover, .resetFilterButton:hover {
  cursor: pointer;
}

.addedTag:hover {
  cursor: initial;
}

/* #endregion */

/* #region Contact */

.Contact {
  background-color: var(--dark-section);
  min-height: 100vh;
}

#contact-sub {
  padding: 18rem 0 1rem 10.5rem;
}

#contactContentWrapper {
  width: 70%;
  margin: auto;
}

#contactForm {
  display: inline-block;
  width: 50%;
}

.formItem {
  display: block;
  width: 95%;
  margin: auto;
  margin-bottom: .5rem;
  height: 2rem;
  border: 0 solid var(--project-shadow);
  padding-left: .3rem;
}

#submitForm {
  background-color: var(--submit-orange);
  transition: background-color .3s;
  padding-left: 0;
}

#submitForm:hover {
  cursor: pointer;
  background-color: var(--submit-orange-hover);
}

#contactForm textarea {
  padding-top: .3rem;
  min-height: 8rem;
  resize: none;
}

#contactInfo {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

#contactInfo ul {
  list-style-type: none;
  padding-left: 01rem;
  margin-top: 0;
}

#infoItems {
  font-size: 1.1rem;
  line-height: normal;
  vertical-align: middle;
  width: 95%;
  margin: auto;
}

#infoItems ul li {
  margin-bottom: 1.5rem;
}

.infoItemsIcon {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.infoItemsIcon * {
  color: var(--main-text);
}

#infoLinksWrapper {
  width: 90%;
  border-top: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
  margin: auto;
}

#infoLinks {
  display: block;
  margin: auto;
  text-align: center;
}

#infoLinks * {
  color: #202020
}

#infoLinks ul {
  margin: 1rem 0;
}

#infoLinks ul li {
  display: inline-block;
  margin-right: 1rem;
}

#infoLinks ul button {
  font-size: 2.5rem;
  line-height: 4rem;
  background-color: #fafafa;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  text-align: center;
  transition: background-color .2s;
  border: none;
}

#infoLinks ul li:hover a * {
  transition: background-color .2s;
  background-color: var(--info-links-hover);
  cursor: pointer;
}



/* #endregion */

/* #region Media queries */

#hamburger-span {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

@media only screen and (max-width: 575px) {
  /* #region General */

  .App {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sm-hidden {
    display: none;
  }

  .sm-shown {
    display: block;
  }

  .main-section {
    padding-bottom: 2rem;
  }

  /* #endregion */

  /* #region Sidebar */

  .Sidebar {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    top: 0;
    left: -100%;
    z-index: 1;
    opacity: 0;
    transition: left .6s, opacity .4s;
  }

  #sidebarActive {
    height: 100vh;
    z-index: 1;
    left: 0;
    opacity: 1;
    transition: left .6s, opacity .4s;
  }

  .sidebarList {
    margin: auto;
  }

  .sidebarItem {
    margin: 2.5rem;
  }

  .subheading {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .sidebarMain {
    display: none;
  }

  /* #endregion */

  /* #region About */

  #aboutPic {
    width: 9rem;
    margin-top: 2rem;
  }

  #mainTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #mainSubtitle {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  .aboutParagraph {
    width: 80%;
    margin: 6% auto;
  }

  /* #endregion About */

  /* #region Experience */

  .Experience {
    padding-top: 8%;
  }
  
  .timelineItemSubtitle {
    font-size: 1.2rem;
  }

  /* #endregion Experience */

  /* #region Education */

  .Education {
    padding-bottom: 0.1rem;
  }

  #formalEdTitle {
    padding-bottom: 0.5rem;
  }

  #personalEdTitle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  /* #endregion Education */

  /* #region Skills */

  .Skill {
    margin-bottom: 3rem;
  }

  #skill-sub {
    padding: 3rem .5rem 0;
  }

  .skill-div {
    display: block;
    width: 75%;
    margin: 2rem 3rem;
  }

  .divider-one {
    margin-top: 0;
  }

  /* #endregion */

  /* #region Projects */

  .ProjectItem {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    min-height: 13rem;
  }

  #projects-sub {
    padding-left: 22.5%;
  }
  
  #projectsWrapper {
    margin-top: 3.2rem;
    padding-bottom: 0;
  }

  #appliedFilters {
    margin-left: 22.5%;
  }

  /* #endregion */

  /* #region Contact */

  .Contact {
    max-width: 100%;
    height: initial;
    min-height: initial;
  }

  #contact-sub {
    padding: 3rem 0 1rem 2rem;
  }

  #contactContentWrapper {
    width: 90%;
  }

  #contactForm {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }

  #contactInfo {
    width: 100%
  }

  .formItem {
    height: 2.5rem;
  }

  #infoLinks {
    display: block;
    margin: auto;
  }

  .infoItemsIcon {
    margin-right: 1rem;
  }

  /* #endregion */
}

@media only screen and (min-width: 576px) and (max-width: 1250px) {

  .App {
    margin: 0;
  }
  
  .Main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sm-hidden {
    display: none;
  }

  .sm-shown {
    display: block;
  }

  .Sidebar {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    top: 0;
    left: -100%;
    z-index: 1;
    opacity: 0;
    transition: left .6s, opacity .4s;
  }

  #sidebarActive {
    height: 100vh;
    z-index: 1;
    left: 0;
    opacity: 1;
    transition: left .6s, opacity .4s;
  }

  .sidebarList {
    margin: auto;
    margin-top: 13rem;
  }

  .sidebarItem {
    margin: 3rem;
  }

  .sidebarMain {
    display: none;
  }

  .langToggle {
    margin: 0;
  }

  #projects-sub {
    padding: 2rem 1rem .5rem;
  }

  #appliedFilters {
    margin: 0 1rem;
  }

  #projectsWrapper {
    width: 100%;
  }

  .ProjectItem {
    margin: 1rem;
  }

  .Contact {
    min-height: initial;
    padding-bottom: 3rem;
  }

  #contact-sub {
    padding: 2rem 3.5rem;
  }

  #contactContentWrapper {
    width: 90%;
  }

  #contactForm {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }

  #contactInfo {
    width: 100%
  }
}

/* #endregion */